/* @theme A4 */

@import 'default';

:root {
  font-family: "CMU Sans Serif", "Segoe UI", Helvetica, sans-serif;
  --beamer-main: #1f38c5;
  --beamer-secondary: #141414;
}

section {
  /* A4 document size */
  width: 210mm;
  height: 297mm;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 22px;
}

li {
  font-size: 22px;
}

/* the "center" keyword centers the image - may break, careful */
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

/* || SECTION CLASS: tinytext */
/* new class that makes p, ul, and blockquote text smaller */
/* might be useful for the References slide, use <!-- _class: tinytext --> */
section.tinytext>p, section.tinytext>ul, section.tinytext>blockquote {
  font-size: 0.65em;
}

code {
  background-color: rgba(100, 100, 100, 0.2);
}




